/*Título llamado por id*/ 
#title{
    font-size: 35px;
    color: pink;
    text-align: center;
    padding-top: 1rem;
}

.card {
    margin-top: 1rem; /* 1rem = 15px*/
}

/*Botón llamado por la clase*/
.btn-action {
    background-color: black;
    color: white;
}

.btn-action:hover {
    background-color: pink;
}

.card-img-top {
    height: 15rem;
}